.DS_Store
.venv
__pycache__
*.db
/database
/uploads

# uv lock file
.venv.lock

# Logs
*.log

# Ignore everything inside images/
images/*

# Keep the folder itself (optional)
!images/.gitkeep

# Face database — keep folder, ignore contents
database/*
!database/.gitkeep
