<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DormMon</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx-ext-response-targets@2.0.4" integrity="sha384-T41oglUPvXLGBVyRdZsVRxNWnOOqCynaPubjUVjxhsjFTKrFJGEMm3/0KGmNQ+Pg" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"> -->
</head>
<body hx-ext="response-targets">
    <div class="container">
        <header>
            <h1>DormMon</h1>
        </header>
        <!-- <nav class="actions"> </nav> -->

        <div id="dialogs"></div>
        
        <main>
            <section>
                <h2>Users</h2>
                <nav class="actions">
                    <button hx-get="/dialog/add_user" hx-target="#dialogs" hx-swap="innerHTML">
                        Add User
                    </button>
                    <button hx-get="/dialog/pay" hx-target="#dialogs" hx-swap="innerHTML">
                        Pay
                    </button>
                </nav>
                <div id="users" hx-get="/users" hx-trigger="load, userUpdated from:body">
                    Loading...
                </div>
            </section>

            <section>
                <h2>Events</h2>
                <nav class="actions">
                    <button hx-get="/dialog/add_event" hx-target="#dialogs" hx-swap="innerHTML">
                        Add Event
                    </button>
                    <button hx-get="/dialog/add_category" hx-target="#dialogs" hx-swap="innerHTML">
                        Add Event Category
                    </button>
                </nav>
                <div id="events" hx-get="/events" hx-trigger="load, eventUpdated from:body">
                    Loading...
                </div>
            </section>

            <section>
                <h2>Item</h2>
                <nav class="actions">
                    <button hx-get="/dialog/add_item" hx-target="#dialogs" hx-swap="innerHTML">
                        Add Item
                    </button>
                    <button hx-get="/dialog/set_stock" hx-target="#dialogs" hx-swap="innerHTML">
                        Set Stock
                    </button>
                </nav>
                <div id="items" hx-get="/items" hx-trigger="load, itemUpdated from:body">
                    Loading...
                </div>
            </section>

            <!-- <section>
                <h2>Categories</h2>
                <div id="categories" hx-get="/categories" hx-trigger="load, categoryUpdated from:body">
                    Loading...
                </div>
            </section> -->
            
        </main>
    </div>
</body>
</html>

